<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>583562149-g099vo8s5h3sd8jb0prsao0gl6gceff2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.583562149-g099vo8s5h3sd8jb0prsao0gl6gceff2</string>
	<key>API_KEY</key>
	<string>AIzaSyDfweqQeQgDFw162AqLasdQuFSDu8-KvPw</string>
	<key>GCM_SENDER_ID</key>
	<string>583562149</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.untitled</string>
	<key>PROJECT_ID</key>
	<string>test-push-notification-f-c8bba</string>
	<key>STORAGE_BUCKET</key>
	<string>test-push-notification-f-c8bba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:583562149:ios:91cbb2b831eefe42042e4c</string>
</dict>
</plist>